// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #EEEEEF;
	margin-left: 20px;
}

.canvas {
	width: 400px;
	background-color: #FFF;
	border: 1px solid #000;
}

.canvas .title {
	font-weight: bold;
}

.canvas .input input {
	width: 100%;
}
ul {
	list-style-type: none;
	padding-left: 0px;
}


